#summary {
    font-size: 200%;
    font-weight: bold;
    color: rgb(9, 9, 121);
}

body{
    height: 200vw;
}

.tweet{
    border: 3px solid lightgrey;
}

.avatar{
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float: left;
    margin-right: 0.5rem;
}

.clear {
    clear: both;
}

.clearfix::after{
    content: '';
    display: block;
    clear:both;
}

.container{
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.container1{
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.box{
    flex-basis: auto;
    width: 5rem;
    height: 5rem;
    background-color: gold;
    margin: 1rem;
}

.box1{
    flex-grow: 1;
    width: 5rem;
    height: 5rem;
    background-color: gold;
    align-self: flex-start;
}

