
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 1px solid black;
    padding-bottom: 100px;
}

.container {
    background-color: black;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
}

.box{
    padding: 3px;
}

@media screen and (min-width: 768px){
    .container {
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem;
        justify-content: right;
    }

    .box{
        padding-right: 12px;
    }
}

